
.container {
    max-width: 350px;
    margin: auto;
}
*{
   margin: 0;
padding: 0;
box-sizing: border-box; 
}


body {
background: linear-gradient(220.55deg, #c1ff3a 0%, #086b30 100%);
}

#root {
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
}

.container {
max-width: 350px;
margin: auto;
}
p
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}